.carrousel{
    width: 100vw;
    flex-grow: 0.98;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.carr{
    width: 98vw;
}

@media (max-width: 430px) {
    .carrousel{
        flex-direction: column;
    }
    
}