.button{
    width: 230px;
    height: 340px;
    margin-inline: 45px;

    border: 2px solid #333;
    border-radius: 6px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    color: #777;
    font-size: 13px;
    transition: 300ms ease-in-out;
}

.button:hover{
    border: 2px solid #fff;
    transition: 300ms ease-in-out;
    cursor: pointer;
    color: #fff;
}

.button:hover svg path {
    fill: #fff;
    transition: 300ms ease-in-out;
}
.button svg path {
    transition: 300ms ease-in-out;

}

@media (max-width: 430px) {
    .button{
        flex-direction: row;
        height: 70px !important;
        width: 250px;
    }
    .button svg{
        width: 30px;
        height: 50px;
    }
    
    
}
