.none{
    display: none !important;
}

.user{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    color: #656565;
    cursor: pointer;
}

.userImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    filter: brightness(0.4);
}.user:hover .userImage, .user:hover{
    transition: 150ms ease-in-out;
    filter: brightness(1);
    color: #fff;
}

.Login{
    animation: show 300ms ease-in;
    transition: 1s linear;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 10;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 430px) {
    .user div {
        display: none;
    }
}
