/* Estilos geral para o elemento JSX Inputs */
.inpt {
    height: 40px;
    width: 100%;

    font-size: 17px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 20px;
}

/* Estilos para todos os inputs */
input {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    margin-top: -20px;

    width: 100%;
    background: none;
    border: none;
    border-bottom: rgba(255, 255, 255, 0.8) solid 2px;
    outline: none;
    padding-left: 6px;
    padding-bottom: 6px;
    transition: 180ms ease-in-out;
}

/* Estilos para inputs selecionados e não vazio */
input:focus,
input.not-empty {
    margin-top: 0px;
    transition: 180ms ease-in-out;
}

/* Margem esquerda para o placeholder*/
.inpt > div {
    margin-left: 5px;
}