body {
    width: 100dvw;
    height: 100dvh;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    cursor: url("../public/normal.png"), auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-teachers-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: flex-start;
    flex-direction: column;
}