.select_main{
    height: 14vh;
    width: 100vw;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.ocupado{
    background: #FF3162;
    min-height: 40px;
    height: 100%;
    width: 100%;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}