.schedule-container {
    overflow: hidden;
    width: 80vw;
}

.schedule-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    border-inline: 2px solid black;
}

th, td {
    border: 1px solid #444;
    padding: 4px;
    padding-inline: 12px;
    text-align: center;
    width: 10%;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-around;
    gap: 240px;
    padding: 20px;
}

.navigation button {
    border-radius: 50%;
    border: 1px solid #6C63FF;
    color: white;
    padding: 10px;
    cursor: pointer;
    background: none;
    color: #6C63FF;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
}
.navigation button:hover{
    color: #fff;
    border: 2px solid #fff;
    transition: none;

}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer div {
    margin: 0 20px;
    font-weight: bold;
}

.select{
    cursor: pointer;
    transition: 150ms ease-in-out;
    height: 40px;
    border: black 8px solid;
}

.select:hover{
    border: black 0px solid;
    height: 48px;
    background-color: #6C63FF;
    transition: 150ms ease-in-out;
}

.in{
    color: #ffffff;
    background-color: #6C63FF;
}

.calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    gap: 20px;
}

.hours{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.hours div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.dontmove{
    display: flex;
    height: 76vh;
    align-items: end;
}

.footer div{
    letter-spacing: 40px;
    position: fixed;
}

@media (max-width: 430px) {
    .hours div{
        width: 58px;
        font-size: 9px;
        margin-top: 55px;
        margin-left: 5px;
        margin-right: -9px;
        display: none;
    }
    .navigation{
        position: fixed;
        flex-direction: row-reverse;
        bottom: 15px;
        gap: 200px;
    }
    .calendar{
        justify-content: center;
        align-items: center;
    }
}

@media (max-height: 570px){
    .navigation{
        bottom: -15px;
    }
    
}