.select_main{
    height: 14vh;
    width: 100vw;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.ocupado{
    background: #FF3162;
    min-height: 44px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 150ms ease-in ;
    border: 2px solid black;
    border-radius: 4px;
}.ocupado:hover{
    outline: white 1px solid;
    transition: 150ms ease-out;
}.ocupado::after{
    content: 'ocupado';
}