.blur{
    width: 100vw;
    height: 100vh;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(6px);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservas{
    width: 440px;
    height: 540px;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(100,107,193,0.95),rgba(47,50,91,0.95));
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
}

.reservado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours{
    width: 100%;
    height: 24%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
.periodo{
    font-weight: 600;
}
.time{
    font-weight: 300;
}

.submit{
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 105%;
    height: 40px;
    color: #333;
    border: none;
    cursor: url("../../../public/hand.png"),pointer;
    transition: 150ms ease-out;
}.submit:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.85);
    transition: 150ms ease-in;
}
.svg{
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.labinfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.labname{
    font-size: 18px;
    font-weight: 300;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    gap: 4px;
}
.Reservado_por{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: start;
}
.inforeserva{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
    padding-top: 60px;
}
.img{
    border-radius: 50%;
    object-fit: cover;
}
.nameProfessor{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.userinfo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.name{
    font-size: 18px;
    font-weight: bold;
}.email{
    font-size: 14px;
    font-weight: 100;
}

.main_input{
    margin-top: 40px;
    width: 105%;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    align-items: start;
}
.input{
    padding: 20px;
    width: 100%;
    height: 200%;
    resize: none;
    color: black;
    font-weight: 500;
    font-size: 18px; 
    background: none;
    outline: none;
    border: none;
}

.input::-webkit-scrollbar {
    width: 10px;
  }
  
.input::-webkit-scrollbar-track {
  background: #999;
  border: 1px solid #666; 
  border-radius: 50px;
}

.input::-webkit-scrollbar-thumb {
  background: #666;
  border: 1px solid #333;
  border-radius: 50px;
}   

.motivo{
    margin-left: 8px;
    color: #2D2F55;
    font-size: 16px;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}