.hours{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hours div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
}